.NewPost {
  width: 100%;
}

.NewPost label {
  display: block;
  margin: 10px auto;
  text-align: left;
  font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.NewPost button {
  margin: 5px auto;
  padding: 10px;
  font: inherit;
  border: 1px solid #0d83ff;
  background-color: transparent;
  color: #0d83ff;
  cursor: pointer;
  display: block;
  width: 100px;
}

.NewPost button:hover,
.NewPost button:active {
  color: white;
  background-color: #0d83ff;
}
